<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informatics courses</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="card-group">
    <div class="card" style="width: 18rem;">
        <a href="html&css&java.html">
            <img src="../images/ss-html.png" class="card-img-top" alt="HTML"></a>
        <div class="card-body">
            <h5 class="card-title">Курсеви за HTML</h5>
            <p class="card-text">Материјали и практични примери поврзани со HTML - јазик кој се употребува за креирање
                на елементи на веб страна.
            </p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <a href="html&css&java.html">
            <img src="../images/ss-css.png" class="card-img-top" alt="CSS"></a>
        <div class="card-body">
            <h5 class="card-title">Курсеви за CSS</h5>
            <p class="card-text">Материјали и практични примери поврзани со CSS - јазик кој се употребува за стилизирање
                на елементи на веб страна.
            </p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <a href="html&css&java.html">
            <img src="../images/ss-java.png" class="card-img-top" alt="Java"></a>
        <div class="card-body">
            <h5 class="card-title">Курсеви за Java</h5>
            <p class="card-text">Материјали и практични примери поврзани со Java - јазик кој се употребува за пишување
                на програми и кодирање.
            </p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <a href="c%23(.net)&swift&python.html">
            <img src="../images/ss-c%23.png" class="card-img-top" alt="C#"></a>
        <div class="card-body">
            <h5 class="card-title">Курсеви за C#</h5>
            <p class="card-text">Материјали и практични примери поврзани со C# - јазик кој има генерална намена и кој
                опфаќа повеќе парадигми.
            </p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <a href="c%23(.net)&swift&python.html">
            <img src="../images/ss-swift.png" class="card-img-top" alt="Swift"></a>
        <div class="card-body">
            <h5 class="card-title">Курсеви за Swift</h5>
            <p class="card-text">Материјали и практични примери поврзани со Swift - скриптирачки јазик кој се употребува
                на iOS платформи.
            </p>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card" style="width: 18rem;">
        <a href="c%23(.net)&swift&python.html">
            <img src="../images/ss-python.png" class="card-img-top" alt="Python"></a>
        <div class="card-body">
            <h5 class="card-title">Курсеви за Python</h5>
            <p class="card-text">Материјали и практични примери поврзани со Python - јазик кој се употребува за креирање
                на веб апликации.
            </p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <a href="javascript&c++&php.html">
            <img src="../images/ss-javascript.png" class="card-img-top" alt="JavaScript"></a>
        <div class="card-body">
            <h5 class="card-title">Курсеви за JavaScript</h5>
            <p class="card-text">Материјали и практични примери поврзани со JavaScript - еден на најпопуларните јазици
                кој се употребува за креирање на интерактивна и динамична веб содржина.
            </p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <a href="javascript&c++&php.html">
            <img src="../images/ss-c%20&%20c++.png" class="card-img-top" alt="C/C++"></a>
        <div class="card-body">
            <h5 class="card-title">Курсеви за C/C++</h5>
            <p class="card-text">Материјали и практични примери поврзани со C/C++ - јазици кои се надополнуваат и се
                употребуваат за структурно и објектно-ориентирано програмирање.
            </p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <a href="c%23(.net)&swift&python.html">
            <img src="../images/ss-.net.png" class="card-img-top" alt=".NET"></a>
        <div class="card-body">
            <h5 class="card-title">Курсеви за .NET</h5>
            <p class="card-text">Материјали и практични примери поврзани со .NET - софтверска платформа која содржи
                алатки и библиотеки за креирање на било каков тип на апликација, на различен оперативен систем.
            </p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <a href="javascript&c++&php.html">
            <img src="../images/ss-php.png" class="card-img-top" alt="PHP"></a>
        <div class="card-body">
            <h5 class="card-title">Курсеви за PHP</h5>
            <p class="card-text">Материјали и практични примери поврзани со PHP - скриптирачки јазик на серверска страна
                кој се употребува за креирање на веб апликации.
            </p>
        </div>
    </div>
</div>
</body>
</html>