<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Program languages - JavaScript, C/C++, PHP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous">
    </script>
    <style>
        #list {
            list-style: none;
        }
    </style>
</head>
<body>
<div>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">JavaScript</a>
            <ul id="list">
                <li class="">Вовед</li>
                <li>Објекти</li>
                <li>Функции</li>
                <li>Класи</li>
                <li>HTML DOM</li>
                <li>Web APIs</li>
                <li>Графика</li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">C/C++</a>
            <ul id="list">
                <li>Општо</li>
                <li>Функции</li>
                <li>Структури</li>
                <li>Примери</li>
                <li>Решавање проблеми</li>
                <li>Класи</li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">PHP</a>
            <ul id="list">
                <li>Вовед</li>
                <li>Форми</li>
                <li>Напреден PHP</li>
                <li>XML</li>
                <li>AJAX</li>
                <li>Примери</li>
                <li>Референци</li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>